<div class="account_update">
    <h1>Update Account</h1>
    <form method="POST" action="">
        <div class="getUsername field">
            <label for="username">Username: </label>
            <input name="username" placeholder="username" type="text"
                value="<%= (typeof(user) === 'undefined') ? currentUser.username : user.username %>">
        </div>
        <div class="getFirstName field">
            <label for="first_name">First Name:</label>
            <input name="first_name" placeholder="first name" type="text"
                value="<%= (typeof(user) === 'undefined') ? currentUser.first_name: user.first_name %>">
        </div>
        <div class="getLastName field">
            <label for="last_name">Last Name: </label>
            <input name="last_name" placeholder="last name" type="text"
                value="<%= (typeof(user) === 'undefined') ? currentUser.last_name : user.last_name %>">
        </div>
        <input class="submit" type="submit" value="update">
    </form>
    <% if (typeof(errors) !== 'undefined') { %> 
        <%- include('./errors', {errors: errors}) %>
    <% } %>
</div>