<div class="nav_bar">
    <a href="/"><h2 class="logo">Members Only</h2></a>
    <ul class="pages">
        <% if (typeof(currentUser) !== 'undefined') { %> 
            <li><a href="/post/create">Create Post</a></li>
            <li><a href="/user/account">Account</a></li>
            <li><a href="/user/log_out">Log out</a></li>
        <% } else { %>
            <li><a href="/user/log_in">log in</a></li>
            <li><a href="/user/create">Sign up</a></li>
        <% } %>
    </ul>
</div>