<div class="nav_bar">
    <a href="/"><h2 class="logo">Members Only</h2></a>
    <h1>Welcome <%= currentUser.username%></h1>
    <ul>
        <li><a href="/user/log_in">log in</a></li>
        <li><a href="/user/create">Sign up</a></li>
        <li><a href="/post/create">Create Post</a></li>
    </ul>
</div>