<div class="update_password">
    <h1>Change Password</h1>
    <form method="POST" action="">
        <div class="getPassword field">
            <label for="password">Current Password: </label>
            <input name="password" type="text">
        </div>
        <div class="getNewPassword field">
            <label for="newPassword">New Password: </label>
            <input name="newPassword" type="text">
        </div>
        <input class="submit" type="submit" value="submit">
    </form>
    <% if (typeof(errors) !== 'undefined') { %> 
        <%- include('./errors', {errors: errors}) %>
    <% } %>
</div>