<div class="user_delete">
    <h1>Delete User</h1>
    <h2><%= `Really Delete ${currentUser.username}?` %></h2>
    <form method="POST" action="">
        <input type="submit" value="delete">
    </form>
</div>