body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.post {
  border: slateblue solid;
}

.images {
  width: 90vw;
}

.preview {
  width: 200px;
}